* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  .chat {
	display: flex;
	flex-direction: column;
	margin: 10vh auto;
	min-width: 210px;
	min-height: 300px;
	width: 40vw;
	height: 60vh;
	padding: 5px;
	border: 1px solid black;
	
	
  }
  
  header {
	display: flex;
	justify-content: space-between;
  }
  
  .content {
	margin: 10px auto;
	border: 1px solid black;
	width: 100%;
	height: 85%;
  }
  
  .message-box {
	margin: 0 auto;
	width: 100%;
  }
  
  .message-box input {
	width: 83%;
  }
  
  .message-box button {
	width: 15%;
  }
  
  .content {
	text-align: right;
  }
  
  .popup1 {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
  }

  
.popup1.active{
	display: block;
}
  .popup1-content {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
  }
  
  .popup1-body {
	margin: auto;
	height: 319px;
	width: 273px;
	border-radius: 0px;
	background-color: white;
	text-align: center;
	position: relative;
	z-index: 3;
	
  }

.popup1-header{
	margin: 50px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 150px;
	display: flex;
	align-items: center;
}
.popup1-header p {
	margin-left: 20px;
}

.popup1-header button {
	margin-left: 140px;
}


.popup2 {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
  }

  
  
.popup2.active{
	display: block;
}
  .popup2-content {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 4;
  }
  
  .popup2-body {
	margin: auto;
	height: 319px;
	width: 273px;
	border-radius: 0px;
	background-color: white;
	text-align: center;
	position: relative;
	z-index: 4;
	
  }

.popup2-header{
	margin: 50px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 150px;
	display: flex;
	align-items: center;
}
.popup2-header p {
	margin-left: 20px;
}

.popup2-header button {
	margin-left: 120px;
}
